@import "all/navbar";
@import "all/gallery";
@import "all/imageBox";
body{
	margin: 0px;
	.clear{
		clear:both;
	}

.container{
    margin: 0 auto;
    width: 63%;
    margin-left: 150px;
    height: 110px;
    margin-top: 20px;
       
    
    margin-top: 20px;
    }

}

